body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #336699; /* muted blue background color */
    color: #080808; /* Dark text color */
}

.navbar {
    background-color: #24305e;
    color: #fff;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
}

.navbar h2 {
    margin: 0;
    font-size: 1.5em; /* Increased font size */
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em; /* Increased font size */
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff33cc
}

header {
    background-color: #16213e; /* Dark blue header background color */
    padding: 20px 0;
    text-align: center;
}

h2 {
    margin: 0;
    font-size: 2em;
    color: #fff; /* White text color */
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

.truck-card {
    background-color: #fff; /* White card background color */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.truck-card img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px; /* Increased padding */
    background-color: #ff33cc; /* Pink button color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Add a smooth transition */
}

button:hover {
    background-color: #fb8500; /* Darker orange hover color */
}

img {
    max-width: 100%;
}
#map { height: 180px; }
#map-placeholder {
    text-align: center;
    border: 1px solid #ccc;
    padding: 90px;
    margin: 0 auto;
    width: 60%;
    max-width: 800px;
    background-color: #f9f9f9; /* Light gray background color */
    color: #333; /* Dark text color */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#about-content p {
    color: #fff; /* White text color */
}